.card{

    position: relative;
    transition: all .3s ease ;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    max-width: 19%;
    width: 100%;
    flex: 1 1 auto;
    cursor: pointer;
}

.card .card__info {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: red;
    transition: all .3s ease;
}

.card:hover .card__info {
    transform: translateY(0%);
    transition: all .3s ease;
}
